name: Build and Verify SDKs

on:
  push:

jobs:
  build-aars:
    name: Build & Publish Dev Artifacts
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build/Publish to the Dev repo
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: mux-kt-utils:artifactoryPublish core-android:artifactoryPublish
      env:
        ORG_GRADLE_PROJECT_artifactory_user: ${{ secrets.ARTIFACTORY_EMAIL }}
        ORG_GRADLE_PROJECT_artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
        GH_USER: ${{ github.actor }}
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build-aars

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Unit Tests
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: test
  
